.admins_index
 .calometro
  .container
   .row
    .col-md-2.col-xs-2
     %h4 Entrada
    .col-md-2.col-xs-2
     %h4 Salida
    .col-md-8.col-xs-8
     %h2 Calómetro&reg;
 .container
  .control_sheet
   .employees_buttons_or_records
    = render partial: "buttons_or_records"
